<%= render 'layouts/header' %>
<div class="wrapper clearfix">
  <section class="key_visual">
    <p>my twitter clone</p>
  </section>
  <section class="preamble">
    <h1>About Achieve</h1>
    <p>
      Achieveは、受講生が最低限Railsを動かせるかを測るお試しアプリです。<br>
      Achieveを作り終えることで、これからの学習に必要な事前知識を身に着けることができます。
    </p>
    <p>
      Acheveを一言で表すと、練習用のつぶやきアプリです。<br>
      つぶやきを投稿する機能をつけることで、Railsの機能の一端を学ぶことができます。
    </p>
  </section>

  <section class="about">
    <h2>Achieve 合格条件</h2>
    <p class="condition">
      <input type="checkbox"> Ruby on Railsを使ったアプリケーションであること<br>
      <input type="checkbox"> HTML,CSSを使用して、見本程度の最低限のフロント部分（header,footer,topページ）を作成すること。<br>
      （JavaScriptは余裕があれば実装する程度で構わない。高度なデザインにしたい場合はbootstrapなどのフレームワークを使用しても構わない。）<br>
      <input type="checkbox"> tweetの投稿・投稿確認・編集・一覧表示・削除機能があること<br>
      <input type="checkbox"> 確認画面から投稿画面に戻った時、打ち込んだ内容が保持されるようにすること<br>
      <input type="checkbox"> 1文字以上140文字以下しかつぶやけないようにすること<br>
      <input type="checkbox"> 140文字より多い文字数、または内容が空で登録した場合エラーメッセージがでるようにすること<br>
      <input type="checkbox"> tweetsテーブルは、本文（content）のみカラムを有すること（id,timestampはデフォルトで生成されるのでそのままで良い）<br>
      <input type="checkbox"> Githubにソースコードを送信し、そのリポジトリのURLを提出すること<br>
      <input type="checkbox"> Herokuにアップロードしてある状態であること<br>
      <input type="checkbox"> エラーが出ないようにすること<br>
    </p>
  </section>
</div>
<%= render 'layouts/footer' %>
