/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

html {
  /*height: 100%;*/
  font-size: 62.5%;
  font-family: serif;
}

.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

.header {
  /*background-color: #53727d;*/
  background-color: #5a544b;
  color: #fff;
  height: 60px;
  font-size: 1.8rem;
  display: table;
}

.header p {
  color: #fff;
  float: left;
  vertical-align: middle;
  display: table-cell;
}

.bg-info {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  height: 20px;
  text-align: center;
  /*display: table;*/
}

/*vertical-alignが効かない。一旦保留*/
/*.bg-info p {*/
/*  vertical-align: middle;*/
/*  display: table-cell;*/
/*}*/

.preamble {
  margin-left: 20px;
  margin-right: 20px;
}

.about {
  margin-left: 20px;
  margin-right: 20px;
}

.preamble h1 {
  border-bottom:solid 3px;
  border-bottom-color: #2c4f54;
}

.about h2 {
  /*margin-bottom: 2px;*/
  border-bottom:solid 3px;
  border-bottom-color: #2c4f54;
  border-bottom-width: thin;
}

.table .content {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%
}

/*vertical-alignが効かない。一旦保留*/
.table .table-hover .table-responsive td .content {
  vertical-align: middle;
}

.micropost_title {
  padding-top: 20px;
  padding-bottom: 10px;
}

.btn {
  margin-bottom: 10px;
  margin-top: 10px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.wrapper {
  margin-top: 10px;
  padding-bottom: 100px;
}

/*.footer {*/
/*  width: 100%;*/
/*  height: 50px;*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  background-color: #5a544b;*/
/*  display: table;*/
/*}*/

/*.footer p {*/
/*  font-size: 1.5rem;*/
/*  font-family: cursive,serif;*/
/*  color: #fff;*/
/*  text-align: center;*/
/*  vertical-align: middle;*/
/*  display: table-cell;*/
/*}*/
